html, body, #root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  height: 100%;
  font-family: Three, Ubuntu, Arial, Helvetica, sans-serif;
  font-size: 40vw;
  color: #fff;
  margin: 0;
  padding: 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-color: #787878;
  transition: 1s all;
}

input {
  font: inherit;
  background: transparent;
  border: none;
  width:80%;
  text-align: center;
  color: inherit;
}
  
#restante {
  display: flex;
  align-content: center;
}

.controles {
  font-size: calc((1vmin + .5vmax / 2) + 6px);
  position: absolute;
  top: 1em;
  right: 1em;
  left: 0;
  display: flex;
  justify-content: flex-end;
}

button {
  padding: 1em;
  background-color: #656565;
  color: #ccc;
  border-radius: .5em;
  border: 0.1em solid #999;
  font-size: 1em;
  margin: 0 0 0 1em;
}

button:focus {
  color: #fff;
  outline: none;
  border-color: #ccc;
}

button#reset {
  max-width: 12em;
  opacity: 1;
  padding: 1em;
  transition: all 0.3s;
}
button#reset.invisivel,
button.invisivel {
  max-width: 0;
  opacity: 0;
  padding: 0;
  text-overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.3s;
}

button#theme {
  width: 3em;
  height: 3em;
    margin-right: auto;
    background: transparent url('icon/gravata.png') no-repeat center / cover;
    opacity: 0.5;
}

button#theme.safari {
  background-image: url("icon/bicho.png");
}

button#theme:focus,
button#theme:hover {
  opacity: 1;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}
.animated input {
  animation: pulse 0.75s infinite;
}
.animated {
  background-color: black;
  transition: 2s all;
}